@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fade in animation */

.fade-in {
    opacity: 0;
    transform: translateY(20px);
}

.faded {
    animation: fadeIn 0.5s forwards var(--delay, 0s);
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.textGradient {
    background: linear-gradient(45deg, #9340FF, #5E00D9, #9340FF);
    background-size: 200% 200%;
    animation: gradientFading 10s linear infinite;
    
    /* Estas propiedades hacen que el fondo se aplique al texto */
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text; /* Para soporte en navegadores basados en Webkit como Safari */
}

@keyframes gradientFading {
    from {
        background-position: 300% 0%;
    }
    to {
        background-position: -100% 100%;
    }
}

@media (max-width: 640px) {
    .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
        position: static;
    }
}